
h1 {
    font-size: 45px;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
    font-size: 20px;

}


li:first-letter {
    text-transform: capitalize;
}
.weather-app {
   background: linear-gradient(70.6deg, rgb(0, 32, 36) 0.3%, rgb(0, 47, 255) 55.8%, rgb(10, 160, 247) 105.1%);

    padding: 20px;
    border: 1px solid grey;
    border-radius: 5px;
    font-family: 'Jost', sans-serif;
    color: rgba(245, 245, 220, 0.959);
}

.overview {
    margin-bottom: 5px;
}
.float-left {
    font-size: 35px;

}
.weather-temperature .units {
    font-size: 25px;

}

.weather-temperature .active {
    color: rgba(245, 245, 220, 0.959);
    cursor: default;

}

.weather-temperature .active:hover {
    text-decoration: none;
}

.app-wrapper {
    max-width: 600px;
        margin: 30px auto;
}
