
h1 {
    font-size: 45px;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
    font-size: 20px;

}


li:first-letter {
    text-transform: capitalize;
}
.weather-app {
   background: rgb(2,0,36);
background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 43%, rgba(0,146,255,1) 86%);

    padding: 20px;
    border: 1px solid grey;
    border-radius: 5px;
    font-family: 'Jost', sans-serif;
    color: rgba(245, 245, 220, 0.959);
}

.overview {
    margin-bottom: 5px;
}
.float-left {
    font-size: 35px;

}
.weather-temperature .units {
    font-size: 25px;

}

.weather-temperature .active {
    color: rgba(245, 245, 220, 0.959);
    cursor: default;

}

.weather-temperature .active:hover {
    text-decoration: none;
}


.weather-forecast {
    margin-top: 20px;
    text-align: center;

}
.weather-forecast-date {
    font-size: 16px;
    color:rgba(245, 245, 220, 0.959);
    opacity: 0.5;
}

.weather-forecast-temperature-min {
    opacity: 0.5;
}
.weather-forecast-temperature {
    font-size: 16px;
}
.app-wrapper {
    max-width: 600px;
        margin: 30px auto;
}
